html {
  font-size: 100%;
  box-sizing: border-box;
  @include breakPoint(mobile) {
    font-size: 70%;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $font-family;
  height: 100vh;
  @include flexCenter;
  justify-content: center;
}
