@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$break-points: (
  "tablet": "846px",
  "mobile": "560px",
);
@mixin breakPoint($size) {
  @media (max-width: map-get($break-points, $size)) {
    @content;
  }
}
@function getColor($color, $percent) {
  @return lighten($color, $percent);
}
